 <div class="titre animation1 animation fade01">
  <h1>Registre des pointages des stagiaires</h1>
</div> 
<div class="topnav animation1 animation fade01">
  <a class="active"
    ><i class="fas fa-calendar-alt" style="margin-right: 10px"></i>Date:
    <input type="date" [(ngModel)]="DateSelected" class="dateadded" />
  </a>
</div>

<div class="section animation1 animation fade01"> 
  <!--Liste tableau-->
  <table
    id="dataTables-example"
    class="tbl"
    datatable
    [dtOptions]="dtOptions"
    *ngIf="isShow"
  >
    <thead>
      <tr>
        <th>Nom</th>
        <th>Date</th>
        <th>Heure d'entree</th>
        <th>Heure de sortie</th>
        <th>Lieu</th>
        <th>Direction</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pointageStg" (click)="CheckDailyPointage(item)">
        <td data-label="Nom">
          <strong>{{ item.employee_name }}</strong>
        </td>
        <td data-label="Date">
          <b>{{ item.date }}</b>
        </td>
        <td data-label="Heure d'entree">
          <b>{{ item.entry_time }}</b>
        </td>
        <td data-label="Heure de sortie">
          <b>{{ item.exit_time }}</b>
        </td>
        <td data-label="Lieu">
          <i>{{ item.lieu }}</i>
        </td>
        <td data-label="Depart">{{ item.employee_dep_name }}</td>
      </tr>
    </tbody>
  </table>
  <!--Liste tableau-end-->
</div>
