@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
.nav {
  display: grid;
  grid-template-columns: auto 1000px 1fr;
  grid-template-rows: 1fr;
  /* border: 2px solid red; */
}
img {
  width: 50px;
  height: 50px;
  margin-left: 50px;
  margin-top: 5px;
  /* filter: brightness(90%);*/
}
h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
  color: var(--color-blue);
  text-shadow: 1px 1px 5px var(--color-fond);
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  /* border: 2px solid red; */
}

p {
  /* border: 2px solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
  /* padding-top: 10px; */
  color: var(--color-blue);
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  font-family: "Big Shoulders Display", Sans-serif;
  text-transform: none;
  /* margin: 5px 0 5px 750px; */
}
/*media*/
@media screen and (max-width: 1300px) {
  /*header*/
  .nav {
    display: flex;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-blue);
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }
  p {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    display: none
  }
  /*header*/
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-blue);
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }
  p {
    display: none;
  }
}
