<span *ngIf="isShow">
  <div class="titre">
    <button (click)="goBack()">Retour</button>

    <h1>POINTAGE DETAILS</h1>
  </div>
  <div class="section">
    <div class="date">
      <h1>
        Pointage du : <span>{{ dailyPointages[0].date }}</span>
      </h1>
    </div>
  </div>
  <div class="section">
    <div class="nom">
      <h2>
        Nom: <span>{{ dailyPointages[0].employee_name }}</span>
      </h2>
      <h2>
        Numero matricule: <span *ngIf="dailyPointages[0].numero_matricule"> {{ dailyPointages[0].numero_matricule }}</span> <span *ngIf="!dailyPointages[0].numero_matricule"> stagiaire </span>
      </h2>
      <h2>
        Direction: <span> {{ dailyPointages[0].employee_dep_name }}</span>
      </h2>
      <h2 *ngIf="dailyPointages.length > 1">
        a fait: <span> {{ dailyPointages.length }}</span> pointages
      </h2>
      <h2 *ngIf="!(dailyPointages.length >1)">
        a fait: <span> {{ dailyPointages.length }}</span> pointage
      </h2>
    </div>
  </div>
  <div class="section">
    <div class="nom">
      <h2>
        Liste de pointage de: <span>{{ dailyPointages[0].employee_name }}</span>
      </h2>
    </div>
    <div class="liste">
      <ul>
        <li *ngFor="let item of dailyPointages">
          <h2>
            Lieu : <span>{{ item.lieu }}</span>
          </h2>
          <h2>
            Entré à : <span>{{ item.entry_time }}</span>
          </h2>
          <h2>
            Sorti à <span>{{ item.exit_time }}</span>
          </h2>
          <!-- reponsive??? -->
        </li>
      </ul>
    </div>
  </div>

</span>