/*titre*/
.titre {
  /* border: 2px solid red; */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  margin: 0 0px 10px;
  padding: 0 0px 5px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px; */
  /* background: var(--color-bg);
    box-shadow: 2px 2px 5px var(--color-titre); */
}
.titre button {
  padding: 10px;
  border-radius: 5px;
  color: var(--color-bg);
  background: var(--color-text);
  border: none;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}
.titre h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-blue);
}
.section {
  width: 98%;
  grid-column: 1 / -1;
  background-color: var(--color-bg);
  margin: 10px 0;
  padding-right: 10px;
  padding-left: 50px;
  /* padding-bottom: 20px; */
}
/* section date */
.section .date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px;
  padding: 5px 0;
}
.section .date h1 {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-titre);
}
.section .date h1 span {
  color: var(--color-red);
}
/* section detail  */
.section .nom {
  margin: 0 10px;
  padding: 5px 0;
}
.section .nom h2 {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2px;
  color: var(--color-blue);
  margin: 20px 0;
}
.section .nom h2 span {
  font-size: 16px;
  color: var(--color-green);
}
/* section listePointage  */
.section .liste {
  /* border: 2px solid red; */
  margin: 0 50px;
  padding: 5px 0;
}
.section .liste ul {
  list-style-type: none;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 2px;
  color: var(--color-blue);
}
.section .liste ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 3px solid var(--color-fond);
  transition: 0.4s;
  /* box-shadow: 1px 1px 2px var(--color-titre); */
}
.section .liste ul li:hover {
  color: var(--color-green);
  border: 3px solid var(--color-green);
}
.section .liste ul li h2 {
  margin: 0 50px;
}
.section .liste ul li h2 span {
  color: var(--color-red);
}

@media screen and (max-width: 768px) {
  /*titre*/
  .titre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px;
    padding: 5px 0;
  }
  .titre h1 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-blue);
  }
  .section {
    width: 100%;
    grid-column: 1 / -1;
    background-color: var(--color-bg);
    padding-right: 10px;
    padding-left: 10px;
  }
  .section .liste ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 3px solid var(--color-fond);
    transition: 0.3s;
    /* box-shadow: 1px 1px 2px var(--color-titre); */
  }
  .section .liste ul li h2 {
    margin: 5px 20px;
  }
}
