<header class="sidebar">
  <div class="titre">
    <img
      src="../../../assets/images/logoOmnis.png"
      class="img-fluid LogoOmnis"
    />
  </div>
  <ul>
    <hr style="color: green" />
    <li>
      <a> <i class="fas fa-user-check"></i>&nbsp; {{ userName }}</a>
    </li>
    <hr style="color: green" />

    <li>
      <a routerLink="accueil">
        <i class="fas fa-clock"></i>&nbsp; Liste Visite</a
      >
    </li>
    <li>
      <a routerLink=""><i class="fas fa-book"></i>&nbsp; Cahier Des Charges</a>
    </li>
    <li>
      <a routerLink=""><i class="fas fa-share-square"></i>&nbsp; Deconnexion</a>
    </li>
  </ul>
</header>
