<div class="titre animation1 animation fade01">
  <button (click)="showAccueil()">Precedent</button>
  <h1>
    Lieu : <span>{{ lieu }}</span>
  </h1>
</div>
<div class="section animation1 animation fade01">
  <div class="security animation1 animation fade01">
    <div class="title">
      <h1>Securites actifs</h1>
    </div>
    <div class="security-content">
      <div class="card" *ngFor="let item of securities">
        <div class="logo"><i class="fas fa-user-alt"></i></div>
        <div class="info">
          <div class="nom">
            Nom: <span>{{ item.employee_name }}</span>
          </div>
          <div class="heure">
            Heure d'entree: <span>{{ item.entry_time }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chart animation1 animation fade01">
    <div class="legend">
      <div class="chart-title">
        <h1>Charte Graphique</h1>
      </div>
      <div class="legend-content">
        <h1>RESUME:</h1>
        <div class="legend-item">
          <div class="item">
            Nombre de visite <span>{{ nb_visite }}</span>
          </div>
          <div class="item">
            Nombre de pointage <span>{{ nb_pointage }}</span>
          </div>
          <div class="item">
            Nombre total employee <span>{{ nb_employee }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="sary">
      <div width="250" height="300">
        <canvas id="myChartPointage"> {{ myChartPointage }}</canvas>
      </div>
    </div>
  </div>

  <!-- <div class="chart">
    <div class="chart-title">
      <h1>Charte Graphique</h1>
    </div>

    <div class="sary">
      <div width="250" height="300">
        <canvas id="myChartPointage"> {{ myChartPointage }}</canvas>
      </div>
    </div>
  </div> -->
</div>
