<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-dark mt-5">Gestion Acces</h2>
      <div class="text-center mb-5 text-dark">OMNIS Madagascar</div>
      <div class="card my-5">
        <form
          class="card-body cardbody-color p-lg-5"
          (ngSubmit)="onSubmit(f)"
          #f="ngForm"
        >
          <div class="text-center">
            <img
              src="../../../assets/images/OMNISS.jpg"
              class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
              width="200px"
              alt="profile"
            />
          </div>

          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="Username"
              aria-describedby="emailHelp"
              name="numero_matricule"
              required
              [(ngModel)]="numero_matricule"
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
              [(ngModel)]="password"
            />
          </div>
          <div class="text-center">
            <button
              type="submit"
              class="btn btn-color px-5 mb-5 w-100"
              *ngIf="!authStatus"
              (click)="onSignIn()"
              [disabled]="f.invalid"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>