<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form class="login" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input
            type="text"
            class="login__input"
            placeholder="Numero Matricule"
            name="numero_matricule"
            required
            [(ngModel)]="numero_matricule"
          />
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input
            type="password"
            class="login__input"
            placeholder="Mot de Passe"
            name="password"
            required
            [(ngModel)]="password"
          />
        </div>
        <button
          class="button login__submit"
          *ngIf="!authStatus"
          (click)="onSignIn()"
          type="submit"
          [disabled]="f.invalid"
        >
          <span class="button__text">Se connecter</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      </form>
      <div class="social-login">
        <h3>OMNIS</h3>
        <div class="social-icons">
          <h5 style="font-family: Arial, Helvetica, sans-serif">
            Gestion d'Acces
          </h5>
        </div>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
