<img src="assets/img/wave.png" alt="liii" class="wave" />
<div class="body1">
  <div class="container">
    <div class="img">
      <img src="assets/img/undraw_secure_files_re_6vdh (3).svg" />
    </div>
    <div class="login-content">
      <form>
        <img src="assets/images/logoOmnis.png" class="img-fluid LogoOmnis" />
        <h2 class="title">Gestion Acces</h2>
        <p id="omnis">OMNIS Madagascar</p>

        <div class="input-div one">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div class="div">
            <h5>Numero</h5>
            <input
              type="text"
              class="input-auth"
              name="numero_matricule"
              required
              [(ngModel)]="numero_matricule"
            />
          </div>
        </div>
        <div class="input-div pass">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div class="div">
            <h5>Mot de Passe</h5>
            <input
              type="password"
              class="input-auth"
              name="password"
              required
              [(ngModel)]="password"
            />
          </div>
        </div>
        <div class="select">
          <select name="format" id="format" [(ngModel)]="lieu">
            <option *ngFor="let lieu of lieux">
              {{ lieu.lieu_name }}
            </option>
          </select>
        </div>
        <input
          type="submit"
          class="btn"
          (click)="onSignIn()"
          value="Se Connecter"
        />
      </form>
    </div>
  </div>
</div>
