<div id="auCentre">
  <div class="barre">
    <button class="onglet actif" onclick="ouvrirOnglet(event,'Javascript')" (click)= "switchAmbohijatovo()">
      Ambohijatovo
    </button>
    <button class="onglet" onclick="ouvrirOnglet(event,'Css')" (click)= "switchAndraharo()">
      Andraharo
    </button>
    <button class="onglet" onclick="ouvrirOnglet(event,'Php')" (click)= "switchMangasoavina()">
      Mangasoavina
    </button>
  </div>

  <div id="Css" class="rubrique" style="display: none">
    <!--On garde rubrique pour reconnaître par code Javascript-->
    <!--Tableau-->
    <div class="section">
      <h1>Liste visite Andraharo</h1>
      <table class="tbl">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Heure/Date</th>
            <th>Motif</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of visitsList">
            <td data-label="ID" *ngIf="item.lieu == lieu">{{ item.visit_id }}</td>
            <td data-label="Nom" *ngIf="item.lieu == lieu">{{ item.visitor_name }}</td>
            <td data-label="Heure/Date" *ngIf="item.lieu == lieu">{{ item.date_of_entry }}</td>
            <td data-label="Motif" *ngIf="item.lieu == lieu">{{ item.motif }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="Javascript" class="rubrique">
    <!--Tableau-->
    <div class="section">
      <h1>Liste visite Ambohijatovo</h1>
      <table class="tbl">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Heure/Date</th>
            <th>Motif</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of visitsList">
            <td data-label="ID" *ngIf="item.lieu == lieu">{{ item.visit_id }}</td>
            <td data-label="Nom" *ngIf="item.lieu == lieu">{{ item.visitor_name }}</td>
            <td data-label="Heure/Date" *ngIf="item.lieu == lieu">{{ item.date_of_entry }}</td>
            <td data-label="Motif" *ngIf="item.lieu == lieu">{{ item.motif }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="Php" class="rubrique" style="display: none">
    <!--Tableau-->
    <div class="section">
      <h1>Liste visite Mangasoavina</h1>
      <table class="tbl">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Heure/Date</th>
            <th>Motif</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of visitsList">
            <td data-label="ID" *ngIf="item.lieu == lieu">{{ item.visit_id }}</td>
            <td data-label="Nom" *ngIf="item.lieu == lieu">{{ item.visitor_name }}</td>
            <td data-label="Heure/Date" *ngIf="item.lieu == lieu">{{ item.date_of_entry }}</td>
            <td data-label="Motif" *ngIf="item.lieu == lieu">{{ item.motif }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
