<!-- eto -->
<div class="titre animation1 animation fade01">
  <h1>Visite actuelle</h1>
</div>
<div id="auCentre" class="animation1 animation fade01">
  <div class="lieu animation3 animation fade03">
    <h1>
      Lieu: <span>{{ lieu }}</span>
    </h1>
  </div>
  <div class="barre animation1 animation fade01">
    <button
      class="onglet actif"
      onclick="ouvrirOnglet(event,'Javascript')"
      (click)="switchAmbohijatovo()"
    >
      Ambohijatovo
    </button>
    <button
      class="onglet"
      onclick="ouvrirOnglet(event,'Css')"
      (click)="switchAndraharo()"
    >
      Andraharo
    </button>
    <button
      class="onglet"
      onclick="ouvrirOnglet(event,'Php')"
      (click)="switchMangasoavina()"
    >
      Mangasoavina
    </button>
  </div>

  <div id="Css" class="rubrique" style="display: none">
    <!--On garde rubrique pour reconnaître par code Javascript-->
    <!--Tableau-->
    <div class="section">
      <!-- <h1>Liste pointage Andraharo</h1> -->
      <table class="tbl animation2 animation fade02">
        <thead>
          <tr>
            <!-- <th>ID</th> -->
            <th>Nom</th>
            <th>Date</th>
            <th>Motif</th>
            <th>Heure d'entré</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of visitsList">
            <!-- <td data-label="ID" *ngIf="item.lieu == lieu">
              {{ item.visit_id }}
            </td> -->
            <td data-label="Nom" *ngIf="item.lieu == lieu">
              {{ item.visitor_name }}
            </td>
            <td data-label="Date" *ngIf="item.lieu == lieu">{{ item.date }}</td>
            <td data-label="Motif" *ngIf="item.lieu == lieu">
              {{ item.motif }}
            </td>
            <td data-label="Date" *ngIf="item.lieu == lieu">
              {{ item.entry_time }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="Javascript" class="rubrique">
    <!--Tableau-->
    <div class="section">
      <!-- <h1>Liste pointage Ambohijatovo</h1> -->
      <table class="tbl animation2 animation fade02">
        <thead>
          <tr>
            <!-- <th>ID</th> -->
            <th>Nom</th>
            <th>Date</th>
            <th>Motif</th>
            <th>Heure d'entré</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of visitsList">
            <!-- <td data-label="ID" *ngIf="item.lieu == lieu">
              {{ item.visit_id }}
            </td> -->
            <td data-label="Nom" *ngIf="item.lieu == lieu">
              {{ item.visitor_name }}
            </td>
            <td data-label="Date" *ngIf="item.lieu == lieu">{{ item.date }}</td>
            <td data-label="Motif" *ngIf="item.lieu == lieu">
              {{ item.motif }}
            </td>
            <td data-label="Date" *ngIf="item.lieu == lieu">
              {{ item.entry_time }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="Php" class="rubrique" style="display: none">
    <!--Tableau-->
    <div class="section">
      <!-- <h1>Liste pointage Mangasoavina</h1> -->
      <table class="tbl animation2 animation fade02">
        <thead>
          <tr>
            <!-- <th>ID</th> -->
            <th>Nom</th>
            <th>Date</th>
            <th>Motif</th>
            <th>Heure d'entré</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of visitsList">
            <!-- <td data-label="ID" *ngIf="item.lieu == lieu">
              {{ item.visit_id }}
            </td> -->
            <td data-label="Nom" *ngIf="item.lieu == lieu">
              {{ item.visitor_name }}
            </td>
            <td data-label="Date" *ngIf="item.lieu == lieu">{{ item.date }}</td>
            <td data-label="Motif" *ngIf="item.lieu == lieu">
              {{ item.motif }}
            </td>
            <td data-label="Date" *ngIf="item.lieu == lieu">
              {{ item.entry_time }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
