/*bouton*/
.btn {
  height: auto;
  width: 100%;
  grid-column: 1 / -1;
  background-color: var(--color-fond);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn .btn-content {
  margin: 20px auto 40px;
  height: 100px;
  width: 300px;
  color: #fff;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.3s;
  box-shadow: 0 9px #999;
}
.btn .exit {
  background: var(--color-red);
}
.btn .entre {
  background: var(--color-green);
}
.btn .exit:hover {
  background-color: #a64043;
  font-size: 20px;
}
.btn .entre:hover {
  background-color: #3e8e41;
  font-size: 20px;
}
.btn .exit:active {
  background-color: #a64043;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn .entre:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*modal*/
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--color-blue);
  box-sizing: border-box;
  color: var(--color-blue);
}
/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}
.modal form .container .btn-cancel {
  background-color: var(--color-red);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
}
.modal form .container .btn-cancel:hover {
  box-shadow: 2px 2px 2px rgb(52, 14, 14);
}
.modal form .container .btn-ajout {
  background-color: var(--color-green);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}
.modal form .container .btn-ajout:hover {
  box-shadow: 2px 2px 2px rgb(19, 64, 32);
}

.modal form .container label {
  color: var(--color-blue);
  text-transform: uppercase;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 1% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid var(--color-blue);
  border-radius: 5px;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: var(--color-blue);
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*tableau-pointage*/
.section {
  width: 100%;
  grid-column: 1 / -1;
  background-color: var(--color-fond);
  padding-right: 10px;
  padding-left: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.section .titre h1 {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-blue);
}
.titre h1 span {
  color: var(--color-green);
  font-size: 22px;
}
.section .tbl {
  width: 100%;
  border-collapse: collapse;
  padding: 0 10%;
  margin: 10px auto 40px;
}
.section .tbl thead {
  background-color: var(--color-blue);
}
.section .tbl thead tr th {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #fff;
  opacity: 1;
  padding: 12px;
  vertical-align: top;
  border: 1px solid #dee2e685;
}
.section .tbl tbody tr {
  background-color: #fff;
  color: var(--color-blue);
}
.section .tbl tbody tr:hover {
  background-color: #8c999ea7;
  color: #fff;
}
.section .tbl tbody tr td {
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  padding: 8px;
  text-align: center;
  border: 1px solid var(--color-blue);
}

/*media*/
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /*content*/

  .section .tbl thead {
    display: none;
  }
  .section .tbl,
  .section .tbl tbody,
  .section .tbl tr,
  .section .tbl td {
    display: block;
    width: 100%;
  }
  .section .tbl tr {
    margin-bottom: 15px;
  }
  .section .tbl tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .section .tbl td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }
}
