<!--bouton ajout + sorti-->
<div class="btn animation3 animation fade03">
  <button class="btn-content entre" (click)="showModal(enter)">Entree</button>
  <!-- <button
    class="btn-content entre"
    onclick="document.getElementById('id01').style.display='block'"
    (click)="showInfo()"
  >
    Entree
  </button> -->
  <button class="btn-content exit" (click)="showModal(exit)">Sortie</button>
</div>
<!--end-bouton ajout + sorti-->

<!--Modal-entre-->
<ng-template #enter let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Pointage d'entree</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label><b>Nom : </b></label>
        <input type="text" [(ngModel)]="enteredValue" name="numero_matricule" />
        <ul *ngFor="let item of employees">
          <li
            *ngIf="
              item.employee_name
                .toLowerCase()
                .includes(enteredValue.toLowerCase()) && enteredValue
            "
            (click)="suggestedEmp(item.employee_name)"
          >
            {{ item.employee_name }}- <span>{{ item.department_name }}</span>
          </li>
        </ul>
        <ul *ngFor="let item of stagiaires">
          <li
            *ngIf="
              item.stagiaire_name
                .toLowerCase()
                .includes(enteredValue.toLowerCase()) && enteredValue
            "
            (click)="suggestedStg(item.stagiaire_name)" 
          >
            {{ item.stagiaire_name }}-
            <span>{{ item.department_name }} Stagiaire</span>
          </li>
        </ul>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-ajout" (click)="onEnter()">
      Confirmer
    </button>
    <button type="button" class="btn-cancel" (click)="closeModal()">
      annuler
    </button>
  </div>
</ng-template>
<!--Modal-entre-end-->

<!--Modal-sorti-->
<ng-template #exit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Pointage de sortie</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label><b>Nom : </b></label>
        <input type="text" [(ngModel)]="enteredValue" name="numero_matricule" />
        <ul *ngFor="let item of pointagesbyLieu">
          <li
            *ngIf="
              item.employee_name
                .toLowerCase()
                .includes(enteredValue.toLowerCase()) && enteredValue
            "
            (click)="suggestedExit(item.employee_name)"
          >
            {{ item.employee_name }} <span>{{ item.employee_dep_name }}</span>
            <span *ngIf="item.function == 'stagiaire'"> Stagiaire</span>
          </li>
        </ul>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-ajout" (click)="onExit()">
      Confirmer
    </button>
    <button type="button" class="btn-cancel" (click)="closeModal()">
      annuler
    </button>
  </div>
</ng-template>
<!--Modal-sorti-end-->

<!--tableau-pointage-->
<div class="section animation1 animation fade01">
  <div class="titre animation1 animation fade01">
    <h1>
      Pointage actuel a: <span>{{ lieu }}</span>
    </h1>
  </div>
  <table class="tbl animation1 animation fade01">
    <thead>
      <tr>
        <th>Numero Matricule</th>
        <th>Heure d'entree</th>
        <th>Nom</th>
        <th>Departement</th>
      </tr>
    </thead>
    <tbody>
      <tr @fade *ngFor="let item of pointages">
        <td data-label="Heure/Date" *ngIf="item.lieu == lieu">
          {{ item.numero_matricule }}
        </td>
        <td data-label="Nom" *ngIf="item.lieu == lieu">
          {{ item.entry_time }}
        </td>
        <td data-label="Heure/Date" *ngIf="item.lieu == lieu">
          {{ item.employee_name }}
        </td>
        <td data-label="Motif" *ngIf="item.lieu == lieu">
          {{ item.employee_dep_name }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--end-tableau-pointage-->
