.visiteur-profile {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
.card-visiteur {
  width: 100%;
  height: 200px;
  border: 2px solid red;
  display: grid;
  grid-template-columns: auto 1fr;
}
.card-visiteur .image {
  width: 100%;
  height: 100%;
  border: 2px solid blue;
  background: var(--color-bg);
  padding: 50px;
  /* margin: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-visiteur .image img {
  width: 80px;
  height: 80px;
}
.card-visiteur .identity {
}
.chart {
  width: 100%;
  height: 500px;
  border: 2px solid green;
}
