<div class="titre animation1 animation fade01">
  <h1><i class="fas fa-user-clock"></i>Liste des visiteurs</h1>
</div>
<div class="section animation1 animation fade01">
  <!--Liste tableau-->
  <table
    class="tbl animation1 animation fade01"
    datatable
    [dtOptions]="dtOptions"
    *ngIf="isShow"
  >
    <thead>
      <tr>
        <th class="th">Nom</th>
        <th class="th">CIN</th>
        <th>Dernière visite</th>
        <th>Date</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of visitors">
        <td data-label="ID">
          <strong>{{ item.visitor_name }}</strong>
        </td>
        <td data-label="Nom">
          <strong>{{ item.CIN }}</strong>
        </td>
        <td data-label="Pointage">
          <i>-</i>
        </td>
        <td data-label="Depart">
          - 
        </td>
        <td>
          <button class="voirprofil" (click)="ShowSecurityProfile(item)">
            Voir profile
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!--Liste tableau-end-->
</div>
