.card {
  display: grid;
  grid-template-rows: 10% 35% 1fr;
  background: #fff;
  box-shadow: 1px 2px 3px rgb(198, 195, 195);
  color: var(--color-text);
  border-radius: 15px;
  transition: 0.2s;
  position: relative;
  width: 350px;
  height: 300px;
}
.card:hover {
  margin-top: 5px;
  box-shadow: 1px 3px 3px rgb(198, 195, 195);
}
.card1 {
  border-top: 5px solid var(--color-red);
}
.card1 .card-body .sary {
  color: var(--color-red);
}
.card2 {
  border-top: 5px solid var(--color-green);
}
.card2 .card-body .sary {
  color: var(--color-green);
}
.card3 {
  border-top: 5px solid var(--color-blue);
}
.card3 .card-body .sary {
  color: var(--color-blue);
}
.card .card-header h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-titre);
  text-align: center;
  letter-spacing: 5px;
  padding: 10px;
}
.card .card-body {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
}
.card .card-body h4 {
  font-size: 14px;
  margin: 2px 0;
  font-weight: lighter;
  text-transform: capitalize;
}
.card .card-body .sary {
  font-size: 50px;
}
.card .card-footer {
  display: flex;
  justify-content: center;
  background: var(--color-bg);
  position: relative;
  width: auto;
  height: 100%;
  align-items: flex-start;
  border-radius: 15px;
}
