<div class="titre">
  <h1>Registre des visites</h1>
</div>
<div class="section">
  <!--navigation-->
  <div class="topnav">
    <a class="active"><i class="fas fa-calendar-alt" style="margin-right: 10px"></i>Date:
      <input type="date" [(ngModel)]="DateSelected" class="dateadded" />
    </a>
  </div>
  <!--navigation-->
  <!--Liste tableau-->
  <table class="tbl" datatable [dtOptions]="dtOptions" *ngIf="isShow">
    <thead>
      <tr>
        <th class="th">Nom</th>
        <th class="th">Lieu</th>
        <th class="th">Date</th>

        <th class="th">Heure d'entrée</th>
        <th class="th">Heure d'entrée</th>
        <th>Motif</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of visitsRegister">
        <td data-label="Nom">{{ item.visitor_name }}</td>
        <td data-label="Heure/Date">{{ item.lieu }}</td>
        <td data-label="Motif">{{ item.date }}</td>
        <td data-label="Depart">{{ item.entry_time }}</td>
        <td data-label="Depart">{{ item.exit_time }}</td>
        <td data-label="Depart">{{ item.motif }}</td>
      </tr>
    </tbody>
  </table>
  <!--Liste tableau-end-->
</div>
