<div class="section">
    <!--navigation-->
    <div class="topnav">
      <a
        class="active"
        onclick="document.getElementById('id01').style.display='block'"
        ><i class="fas fa-calendar-alt" style="margin-right: 10px"></i> Date:
        Avril 2022</a
      >
      <a
        class="active"
        onclick="document.getElementById('id01').style.display='block'"
        ><i class="fas fa-home" style="margin-right: 10px"></i> Lieu:
        Ambojatovo</a
      >
      <a
        class="active"
        onclick="document.getElementById('id01').style.display='block'"
        ><i class="fas fa-house-user" style="margin-right: 10px"></i> Departement:
        DSI</a
      >
      <a
        class="active"
        onclick="document.getElementById('id01').style.display='block'"
        ><i class="fas fa-id-card" style="margin-right: 10px"></i>Recherche par
        employee</a
      >
    </div>
    <!--navigation-->
    <!--Liste tableau-->
    <table class="tbl">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Lieu</th>
          <th>Date</th>
          <th>Heure d'entree</th>
          <th>Heure de sortie</th>
          <th>Motif</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Nom">lol</td>
          <td data-label="Heure d'entree">mars 2022</td>
          <td data-label="Heure de sortie">mars 2022</td>
          <td data-label="Date">mars 2022</td>
          <td data-label="Motif">stage</td>
          <td data-label="Depart">DSI</td>
        </tr>
        <tr>
          <td data-label="Nom">lol</td>
          <td data-label="Heure/Date">mars 2022</td>
          <td data-label="Motif">stage</td>
          <td data-label="Motif">stage</td>
          <td data-label="Motif">stage</td>
          <td data-label="Depart">stage</td>
        </tr>
        <tr>
          <td data-label="Nom">lol</td>
          <td data-label="Heure/Date">mars 2022</td>
          <td data-label="Motif">stage</td>
          <td data-label="Depart">stage</td>
          <td data-label="Depart">stage</td>
          <td data-label="Depart">stage</td>
        </tr>
      </tbody>
    </table>
    <!--Liste tableau-end-->
  </div>
  