<img src="assets/images/logoOmnis.png" class="img-fluid LogoOmnis" />

<hr />
<h1><i class="fas fa-id-card-alt"></i></h1>
<h1>Lucas Rakoto</h1>
<hr />

<ul>
  <li>
    <div class="dropdown">
      <a
        ><i class="fas fa-home"></i>
        Dropdown
        <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-content">
        <a href="#">ANDRAHARO</a>
        <hr />
        <a href="#">AMBOHIJATOVO</a>
        <hr />
        <a href="#">MANGASOAVINA</a>
      </div>
    </div>
  </li>
  <li>
    <a (click)="showAdminVisit()"><i class="fas fa-clock"></i> Simple Visite</a>
  </li>
  <li>
    <a (click)="showAdminPointage()"><i class="fas fa-fingerprint"></i> Pointage</a>
  </li>

  <li>
    <a (click)="onSignOut()"><i class="fas fa-sign-out-alt"></i> Deconnexion</a>
  </li>
</ul>
