<div class="entete">

  <div class="logo-text"><h1>OMNIS</h1></div>
</div>
<div class="users">
  <h1><i class="fas fa-id-card-alt"></i></h1>
  <h1>{{ userName }}Lucas</h1>
</div>

<ul>
  <li>
    <a (click)="showAccueil()"><i class="fas fa-home"></i> Accueil </a>
  </li>
  <li>
    <div class="dropdown">
      <a
        ><i class="fas fa-clock"></i>
        Visite
        <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-content">
        <a (click)="showAdminVisit()">Visite actif</a>
        <hr />
        <a (click)="showAdminVisit()"> Registre des visites</a>
        <hr />
      </div>
    </div>
  </li>
  <li>
    <a (click)="showAdminPointage()"
      ><i class="fas fa-fingerprint"></i> Pointage</a
    >
  </li>

  <li>
    <a href="/authentification" (click)="onSignOut()"
      ><i class="fas fa-sign-out-alt"></i> Deconnexion</a
    >
  </li>
</ul>
