<div class="entete">
  <!-- <div class="logo">
    <img src="assets/images/logoOmnis.png" class="img-fluid LogoOmnis" />
  </div> -->
  <div class="logo-text">
    <h1>OMNIS</h1>
    <p>Dashboard</p>
  </div>
</div>
<div class="users">
  <h1><i class="fas fa-id-card-alt"></i></h1>
  <h1>{{ userName }}</h1>
</div>

<ul>
  <li>
    <a (click)="showAccueil()"><i class="fas fa-home"></i> Accueil </a>
  </li>
  <li>
    <div class="dropdown">
      <a
        ><i class="fas fa-clock"></i>
        Visite
        <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-content">
        <a routerLink="visit-admin">Visite actif</a>
        <hr />
        <a routerLink="register-visit"> Registre des visites</a>
        <hr />
      </div>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <a
        ><i class="fas fa-fingerprint"></i>
        Pointage
        <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-content">
        <a (click)="showAdminPointage()">Pointage actif</a>
        <hr />
        <a routerLink="pointage-register"> Registre des Pointages</a>
        <hr />
      </div>
    </div>
  </li>
  <li>
    <a href="/authentification" (click)="onSignOut()"
      ><i class="fas fa-sign-out-alt"></i> Deconnexion</a
    >
  </li>
</ul>
