img {
    width: 150px;
    height: 150px;
    margin-top: 70px;
    margin-left: 70px;
    border-radius: 2px;
  }
  h1 {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 0;
    align-items: center;
    font-size: 18px;
    color: #ece9e3b2;
  }
  ul {
    list-style-type: none;
    max-height: 650px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }
  ul li {
    height: 80px;
    display: block;
  }
  ul li a {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 40px;
    display: block;
  }
  ul li a:hover {
    border-left: 6px solid #35aa49;
    transition: 0.3s;
    color: #fff;
    background: rgba(0, 128, 0, 0.66);
    counter-reset: white;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /*media*/
  @media screen and (max-width: 768px) {
    /*sidebar*/
  
    img,
    hr {
      display: none;
    }
    h1 {
      padding: 5px 0 5px 0;
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 0px;
    }
    ul li {
      height: 20px;
      margin: 0 15px;
    }
    ul li a {
      font-size: 14px;
      text-transform: capitalize;
      padding: 5px;
    }
    ul li a:hover {
      border-left: 0;
      border-bottom: 3px solid #35aa49;
      border-radius: 0;
      background: none;
      color: #fff;
      font-size: 14px;
    }
    ul li a i {
      display: none;
    }
  }
  