<img src="assets/images/logoOmnis.png" class="img-fluid LogoOmnis" />
<hr />
<h1><i class="fas fa-id-card-alt"></i></h1>
<h1>{{userName}}</h1>
<hr />

    <ul>
      <li>
        <a ><i class="fas fa-user-check"></i> Security name</a>
      </li>
      <li>
        <a (click)="showActiveVisit()"><i class="fas fa-clock"></i>Gestion des visites</a>
      </li>
      <li>
        <a (click)="PointageView()"><i class="fas fa-book"></i> Pointage</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-share-square"></i> Deconnexion</a>
      </li>
    </ul>