aside {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.LogoOmnis {
  margin: 28%;
  height: 120px;
  border: 1 px solid #1d4851db;
  border-radius: 5px;
}

.couleur {
  background-color: #174048;
  position: fixed;
}
.liste .logout {
  margin-top: 250px;
}
