<!--modal-->
<ng-template #edit let-modal>
  <div class="modal-header">
    <h1>Modifier Employee</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>

  <div class="modal-body">
    <div class="container">
      <label><b>Nom Employee </b></label>
      <input
        type="text"
        name="employee_name"
        [(ngModel)]="employee_name"
      /><br />
      <label><b>Fonction </b></label>
      <input type="text" name="function" [(ngModel)]="function" /><br />
      <label for="select"><b>Direction</b></label>
      <select name="pets" id="select" [(ngModel)]="direction">
        <option *ngFor="let item of departments">
          {{ item.department_short_name }}
        </option>
      </select>
      <br />
      <label><b>Numero Matricule</b></label>
      <input
        type="number"
        name="numero_matricule"
        [(ngModel)]="numero_matricule"
      /><br />
      <label><b> Photo de profil : </b></label>
      <div class="img-card">
        <input
          class="btn-upload-photo"
          type="file"
          (change)="uploadPhoto($event)"
        />
        <img [src]="photoPath" alt="pdp" height="150px" />
      </div>
      <br />
      <button
        type="submit"
        class="btn-modif"
        (click)="updateEmployee()"
      >
        Modifier
      </button>
      <button
        class="btn-cancel"
        type="button"
        (click)="closeModal()"
      >
        Cancel
      </button>
    </div>
  </div>
</ng-template> 

<!--modal confirm-->
<ng-template #delete let-modal>
  <div class="modal-header">
    <h1>Supression Employée</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>

  <div class="modal-body">
    <div class="container">
      <label><b>Êtes vous sûr de supprimer l'employée : {{ employee_name }} ?</b></label>
      <button
        type="submit"
        class="btn-modif"
        (click)="deleteEmployee()"
      >
        Supprimer Employée
      </button>
      <button
        class="btn-cancel"
        type="button"
        (click) = "closeModal()"
      >
        Annuler
      </button>
    </div>
  </div>
</ng-template>

<button (click)="goBack()">Retour</button
><!-- profil security body -->
<div class="page-profil animation1 animation fade01">
  <div class="chart">
    <div class="img">
      <img [src]="photoPath" alt="pdp" srcset="" height="150px" />
    </div>
    <div class="nom">
      <h1>{{ employee_name }}</h1>
    </div>
    <div class="apropos">
      <div class="apropos-list">
        <div class="apropos-list-item">Matricule</div>
        <div class="apropos-list-value">{{ matricule_security }}</div>
      </div>
      <div class="apropos-list">
        <div class="apropos-list-item">Direction</div>
        <div class="apropos-list-value">{{ direction }}</div>
      </div>
      <div class="apropos-list">
        <div class="apropos-list-item">Fonction</div>
        <div class="apropos-list-value">{{ fonction }}</div>
      </div>
      <div class="apropos-list">
        <div class="apropos-list-item">Dernier pointage</div>
        <div class="apropos-list-value">
          {{ last_pointage_date }} {{ last_pointage_lieu }}
        </div>
      </div> 
    </div>
    <div class="edit">
      <button
        class="modifier"
        (click)="showModal(edit)"
      >
        Modifier
      </button>
      <button class="supprimer" (click)="showModal(delete)">Supprimer</button>
    </div>
  </div>

  <!--card-profil -->
  <!-- security-register-pointage -->
  <div class="pointage">
    <app-clocking-schedule></app-clocking-schedule>
    <div class="legende">
      <h3>Ambohijatovo :</h3>
      <div class="bar-color rouge"></div>
    </div>
    <div class="legende">
      <h3>Andraharo :</h3>
      <div class="bar-color vert"></div>
    </div>
    <div class="legende">
      <h3>Mangasoavina :</h3>
      <div class="bar-color bleu"></div>
    </div>
  </div>
  <!-- security-register-pointage -->
</div>
<!-- profil security body -->
