<div class="titre">
  <h1>Registre des pointages</h1>
</div>
<div class="topnav">
  <a class="active"><i class="fas fa-calendar-alt" style="margin-right: 10px"></i>Date:
    <input type="date" [(ngModel)]="DateSelected" class="dateadded" />
  </a>
</div>

<div class="section">
  <!--Liste tableau-->
  <table id="dataTables-example" class="tbl" datatable [dtOptions]="dtOptions" *ngIf="isShow">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Date</th>
        <th>Heure d'entree</th>
        <th>Heure de sortie</th>
        <th>Lieu</th>
        <th>Departement</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pointages" (click)="CheckDailyPointage(item)">
        <td data-label="Nom">{{ item.employee_name }}</td>
        <td data-label="Date">{{ item.date }}</td>
        <td data-label="Heure d'entree">{{ item.entry_time }}</td>
        <td data-label="Heure de sortie">{{ item.exit_time }}</td>
        <td data-label="Depart">{{ item.lieu }}</td>
        <td data-label="Depart">{{ item.employee_dep_name }}</td>
      </tr>
    </tbody>
  </table>
  <!--Liste tableau-end-->
</div>