<div class="titre">
  <h1>Pointage actuel</h1>
</div>
<div id="auCentre">
  <div class="lieu">
    <h1>
      Lieu: <span>{{ lieu }}</span>
    </h1>
  </div>
  <div class="barre">
    <button
      class="onglet actif"
      onclick="ouvrirOnglet(event,'Javascript')"
      (click)="switchAmbohijatovo()"
    >
      Ambohijatovo
    </button>
    <button
      class="onglet"
      onclick="ouvrirOnglet(event,'Css')"
      (click)="switchAndraharo()"
    >
      Andraharo
    </button>
    <button
      class="onglet"
      onclick="ouvrirOnglet(event,'Php')"
      (click)="switchMangasoavina()"
    >
      Mangasoavina
    </button>
  </div>

  <div id="Css" class="rubrique" style="display: none">
    <!--On garde rubrique pour reconnaître par code Javascript-->
    <!--Tableau-->
    <div class="section">
      <!-- <h1>Liste pointage Andraharo</h1> -->
      <table class="tbl">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Departement</th>
            <th>Heure d'entré</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pointages">
            <td data-label="ID" *ngIf="item.lieu == lieu">
              {{ item.pointage_id }}
            </td>
            <td data-label="Nom" *ngIf="item.lieu == lieu">
              {{ item.employee_name }}
            </td>
            <td data-label="Date" *ngIf="item.lieu == lieu">
              {{ item.employee_dep_name }}
            </td>
            <td data-label="Date" *ngIf="item.lieu == lieu">
              {{ item.entry_time }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="Javascript" class="rubrique">
    <!--Tableau-->
    <div class="section">
      <!-- <h1>Liste pointage Ambohijatovo</h1> -->
      <table class="tbl">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Departement</th>
            <th>Heure d'entré</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pointages">
            <td data-label="ID" *ngIf="item.lieu == lieu">
              {{ item.pointage_id }}
            </td>
            <td data-label="Nom" *ngIf="item.lieu == lieu">
              {{ item.employee_name }}
            </td>
            <td data-label="Date" *ngIf="item.lieu == lieu">
              {{ item.employee_dep_name }}
            </td>
            <td data-label="Date" *ngIf="item.lieu == lieu">
              {{ item.entry_time }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="Php" class="rubrique" style="display: none">
    <!--Tableau-->
    <div class="section">
      <!-- <h1>Liste pointage Mangasoavina</h1> -->
      <table class="tbl">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Departement</th>
            <th>Heure d'entré</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pointages">
            <td data-label="ID" *ngIf="item.lieu == lieu">
              {{ item.pointage_id }}
            </td>
            <td data-label="Nom" *ngIf="item.lieu == lieu">
              {{ item.employee_name }}
            </td>
            <td data-label="Date" *ngIf="item.lieu == lieu">
              {{ item.employee_dep_name }}
            </td>
            <td data-label="Date" *ngIf="item.lieu == lieu">
              {{ item.entry_time }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
