<div class="container">
    <div class="container-onglets">
      <div class="onglets active">ANDRAHARO</div>
      <div class="onglets">AMBOHIJATOVO</div>
      <div class="onglets">MANGASOAVINA</div>
    </div>
  
    <div class="contenu active-contenu">
      <h3>VISITE ANDRAHARO 1</h3>
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
        perspiciatis alias quod, dolores eum illum doloremque assumenda odio
        architecto, dolorum vitae nobis, quo deleniti ipsum.
      </p>
    </div>
  
    <div class="contenu">
      <h3>VISITE AMBOHIJATOVO 2</h3>
      <hr/>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
        perspiciatis alias quod, dolores eum illum doloremque assumenda odio
        architecto, dolorum vitae nobis, quo deleniti ipsum.
      </p>
    </div>
  
    <div class="contenu">
      <h3>VISITE MANGASOAVINA 3</h3>
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
        perspiciatis alias quod, dolores eum illum doloremque assumenda odio
        architecto, dolorum vitae nobis, quo deleniti ipsum.
      </p>
    </div>
  </div>
  