<div class="container">
    <div class="container-onglets">
      <div class="onglets active">ANDRAHARO</div>
      <div class="onglets">AMBOHIJATOVO</div>
      <div class="onglets">MANGASOAVINA</div>
    </div>
  
    <div class="contenu active-contenu">
      <div class="section">
        <table class="tbl">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>Heure/Date</th>
              <th>Motif</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of visitsList">
              <td data-label="ID">{{ item.visit_id }}</td>
              <td data-label="Nom">{{ item.visitor_name }}</td>
              <td data-label="Heure/Date">{{ item.date_of_entry }}</td>
              <td data-label="Motif">{{ item.motif }}</td>
              <td data-label="#">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="contenu">
      <h3>VISITE AMBOHIJATOVO 2</h3>
      <hr/>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
        perspiciatis alias quod, dolores eum illum doloremque assumenda odio
        architecto, dolorum vitae nobis, quo deleniti ipsum.
      </p>
    </div>
  
    <div class="contenu">
      <h3>VISITE MANGASOAVINA 3</h3>
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
        perspiciatis alias quod, dolores eum illum doloremque assumenda odio
        architecto, dolorum vitae nobis, quo deleniti ipsum.
      </p>
    </div>
  </div>
  