<!-- profil security body -->
<div class="page-profil">
    <!--card-profil -->
    <div class="card-profil">
      <div class="img-card">
        <img src="/assets/images/OMNISS.jpg" alt="" />
      </div>
      <div class="content-card">
        <ul>
          <li>Nomsdvdv: <span>Rakoto</span></li>
          <li>Nom: <span>Rakoto</span></li>
          <li>Nom: <span>Rakoto</span></li>
          <li>Nom: <span>Rakoto</span></li>
          <li>Nossssssvm: <span>Rakbfffffffffffoto</span></li>
        </ul>
      </div>
    </div>
    <!--card-profil -->
    <!-- chart -->
    <div class="chart">
      <h1>lol</h1>
      <h1>lol</h1>
      <h1>lol</h1>
      <h1>lol</h1>
      <h1>lol</h1>
      <h1>lol</h1>
      <h1>lol</h1>
      <h1>lol</h1>
    </div>
    <!-- chart -->
    <!-- security-register-pointage -->
    <div class="pointage">
      <div class="section">
        <h1>Liste pointage</h1>
        <table class="tbl">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>Nom</th>
              <th>Date</th>
              <th>Date</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="ID">1</td>
              <td data-label="Nom">baba</td>
              <td data-label="Nom">baba</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
            </tr>
            <tr>
              <td data-label="ID">1</td>
              <td data-label="Nom">baba</td>
              <td data-label="Nom">baba</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
            </tr>
            <tr>
              <td data-label="ID">1</td>
              <td data-label="Nom">baba</td>
              <td data-label="Nom">baba</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
            </tr>
            <tr>
              <td data-label="ID">1</td>
              <td data-label="Nom">baba</td>
              <td data-label="Nom">baba</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
            </tr>
            <tr>
              <td data-label="ID">1</td>
              <td data-label="Nom">baba</td>
              <td data-label="Nom">baba</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
            </tr>
            <tr>
              <td data-label="ID">1</td>
              <td data-label="Nom">baba</td>
              <td data-label="Nom">baba</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
            </tr>
            <tr>
              <td data-label="ID">1</td>
              <td data-label="Nom">baba</td>
              <td data-label="Nom">baba</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
            </tr>
            <tr>
              <td data-label="ID">1</td>
              <td data-label="Nom">baba</td>
              <td data-label="Nom">baba</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
            </tr>
            <tr>
              <td data-label="ID">1</td>
              <td data-label="Nom">baba</td>
              <td data-label="Nom">baba</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
              <td data-label="Date">avril</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- security-register-pointage -->
  </div>
  <!-- profil security body -->
  