<!-- profil security body -->
<div class="page-profil animation1 animation fade01">
  <!--card-profil -->
  <div class="card-profil animation1 animation fade01">
    <div class="img-card">
      <img src="assets/avatar/{{ security_name }}.png" alt="" />
    </div>
    <div class="content-card">
      <ul>
        <li>
          Nom: <span>{{ security_name }}</span>
        </li>
        <li>
          Numero matricule: <span>{{ matricule_security }}</span>
        </li>
        <li>
          poste de garde: <span>{{ last_pointage_lieu }}</span>
        </li>
        <li>
          dérnière connection: <span>{{ last_pointage_date }}</span>
        </li>
      </ul>
    </div>
  </div>
  <!--card-profil -->
  <!-- chart -->
  <div class="chart animation2 animation fade02">
    <canvas id="myChartPointage"> {{ myChartPointage }}</canvas>
  </div>
  <!-- chart -->
  <!-- security-register-pointage -->
  <div class="pointage animation3 animation fade03">
    <app-clocking-schedule></app-clocking-schedule>
  </div>
  <!-- security-register-pointage -->
</div>
<!-- profil security body -->
