/* animation */
.animation1 {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animation {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}
@-webkit-keyframes fade01 {
  from {
    opacity: 0;
    /* -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); */
  }
  to {
    opacity: 1;
    /* -webkit-transform: none;
    transform: none; */
  }
}
@keyframes fade01 {
  from {
    opacity: 0;
    /* -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); */
  }
  to {
    opacity: 1;
    /* -webkit-transform: none;
    transform: none; */
  }
}
.fade01 {
  -webkit-animation-name: fade01;
  animation-name: fade01;
}

/*titre*/
.titre {
  /* border: 2px solid red; */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  margin: 0 10px 10px;
  padding: 0 5px 5px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px; */
  /* background: var(--color-bg);
    box-shadow: 2px 2px 5px var(--color-titre); */
}
.titre button {
  padding: 10px;
  border-radius: 5px;
  color: var(--color-bg);
  background: var(--color-text);
  border: none;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}
.titre h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-blue);
}
.titre h1 span {
  color: var(--color-red);
}
.section1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 1fr;
  grid-template-areas:
    "security"
    "chart";
  width: 98%;
  /* grid-column: 1 / -1; */
  background-color: var(--color-fond);
  padding-right: 10px;
  padding-left: 10px;
}
/* section1 title1 */
.section1 .title1 {
  /* grid-area: titre; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin: 10px; */
  padding: 10px;
  background: var(--color-green);
}
.section1 .title1 h1 {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-bg);
}
/* bloc security */
.section1 .security {
  grid-area: security;
  background: var(--color-bg);
  display: grid;
  grid-template-rows: auto 1fr;
  box-shadow: 2px 2px 5px var(--color-fond);
}
.section1 .security .security-content {
  background: var(--color-bg);
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  padding: 0px;
  /* background: #000; */
}
.section1 .card {
  border: 1px solid var(--color-fond);
  /* border: 1px solid var(--color-red); */
  border-left: 4px solid var(--color-green);
  width: 320px;
  height: 150px;
  padding: 20px;
  box-shadow: 1px 1px 4px var(--color-titre);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  color: var(--color-blue);
  /* text-align: center; */
}
.section1 .card:hover {
  cursor: pointer;
}
.section1 .card .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 .card .logo img {
  width: 80px;
  height: 80px;
  clip-path: circle();
}
.section1 .card .info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 30px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color-green);
  padding-left: 5px;
}
.section1 .card .info span {
  color: var(--color-titre);
}
/* bloc chart  */
.section1 .chart {
  grid-area: chart;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  margin: 30px 0;
  width: 100%;
  /* padding: 20px; */
  background: var(--color-bg);
  box-shadow: 2px 2px 5px var(--color-fond);
}
.section1 .chart .legend {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100px;
  margin-bottom: 10px;
  /* padding: 10px; */
  /* border: 2px solid red; */
}
.section1 .chart .legend .chart-title1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin: 10px; */
  padding: 10px;
  background: var(--color-text);
}
.section1 .chart .legend .chart-title1 h1 {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-bg);
}
.section1 .chart .legend-content {
  display: grid;
  grid-template-columns: auto 1fr;
}
.section1 .chart .legend-content h1 {
  font-size: 16px;
  font-weight: 800;
  color: var(--color-text);
  letter-spacing: 2px;
  margin: 20px;
}
.section1 .chart .legend-content .legend-item {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  color: var(--color-text);
}
.section1 .chart .legend-content .legend-item .item {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2px;
}
.section1 .chart .legend-content .legend-item .item span {
  color: var(--color-red);
}

/* couleur .legend-item */
.section1 .chart .sary {
  width: 100%;
  height: auto;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid var(--color-blue); */
}
.section1 .chart .sary h1 {
  display: block;
  color: var(--color-text);
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 16px;
}
.section1 .tbl {
  width: 100%;
  border-collapse: collapse;
  padding: 0 10%;
  margin: 10px auto 40px;
}
.section1 .tbl thead {
  background-color: var(--color-blue);
}
.section1 .tbl thead tr th {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #fff;
  opacity: 1;
  padding: 12px;
  vertical-align: top;
  border: 1px solid #dee2e685;
}
.section1 .tbl tbody tr {
  background-color: #fff;
  color: var(--color-blue);
}
.section1 .tbl tbody tr:hover {
  background-color: #8c999ea7;
  color: #fff;
}
.section1 .tbl tbody tr td {
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  padding: 8px;
  text-align: center;
  border: 1px solid var(--color-blue);
}
@media screen and (max-width: 768px) {
  .section1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "security"
      "chart";
    width: 100%;
    /* grid-column: 1 / -1; */
    background-color: var(--color-fond);
    padding-right: 10px;
    padding-left: 10px;
  }
  .section1 .card {
    border: 1px solid var(--color-green);
    width: 320px;
    height: auto;
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 1px 2px var(--color-green);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    color: var(--color-blue);
    /* text-align: center; */
  }
  .section1 .card .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section1 .card .info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color-blue);
  }
  .section1 .chart .legend {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    height: auto;
    margin-bottom: 10px;
  }
  .section1 .chart .legend-content .legend-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .section1 .chart .legend-content .legend-item .item {
    margin: 10px;
  }
  /*liste tableau*/
  .section1 .tbl thead {
    display: none;
  }
  .section1 .tbl,
  .section1 .tbl tbody,
  .section1 .tbl tr,
  .section1 .tbl td {
    display: block;
    /* width: 100%; */
  }
  .section1 .tbl tr {
    margin-bottom: 15px;
  }
  .section1 .tbl tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .section1 .tbl td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }
  .section1 .tbl {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 10px auto 40px;
    /* border: 2px solid var(--color-blue); */
  }
}
@media screen and (max-width: 900px) {
  .section1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "security"
      "chart";
    width: 100%;
    /* grid-column: 1 / -1; */
    background-color: var(--color-fond);
    padding-right: 10px;
    padding-left: 10px;
  }
  .section1 .card {
    border: 1px solid var(--color-green);
    width: 320px;
    height: auto;
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 1px 2px var(--color-green);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    color: var(--color-blue);
    /* text-align: center; */
  }
  .section1 .card .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section1 .card .info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color-blue);
  }
}
