<div class="titre animation1 animation fade01">
  <button (click)="showAccueil()">Retour</button>
  <h1>
    Lieu : <span>{{ lieu }}</span>
  </h1>
</div>
<div class="section1 animation1 animation fade01">
  <div class="security animation1 animation fade01">
    <div class="title1">
      <h1>Securites actifs</h1>
    </div>
    <div class="security-content">
      <div
        class="card"
        *ngFor="let item of securities"
        (click)="ShowEmployeeProfile(item)"
      >
        <div class="logo">
          <img [src]="photoPath" alt="pdp" srcset="" height="150px" />
        </div>
        <div class="info">
          <div class="nom">
            Nom: <span>{{ item.employee_name }}</span>
          </div>
          <div class="heure">
            Heure d'entree: <span>{{ item.entry_time }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chart animation1 animation fade01">
    <div class="legend">
      <div class="chart-title1">
        <h1>Charte Graphique</h1>
      </div>
      <div class="legend-content">
        <h1>RESUME:</h1>
        <div class="legend-item">
          <div class="item">
            Nombre de visite <span>{{ nb_visite }}</span>
          </div>
          <div class="item">
            Nombre de pointage <span>{{ nb_pointage }}</span>
          </div>
          <div class="item">
            Nombre total employee <span>{{ nb_employee }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="sary">
      <div width="250" height="300">
        <canvas id="myChartPointage"> {{ myChartPointage }}</canvas>
      </div>
    </div>
  </div>
</div>
