<!-- eto -->
<div class="titre animation1 animation fade01">
  <h1>Visite actuelle</h1>
</div>
<div id="auCentre" class="animation1 animation fade01">
  <div class="lieu animation3 animation fade03">
    <h1>
      Lieu: <span>{{ lieu }}</span>
    </h1>
  </div>
  <div class="barre animation1 animation fade01">
    <button
      [ngClass]="{actif: lieu == 'Ambohijatovo', onglet:true}"
      (click)="switchAmbohijatovo()"
    >
      Ambohijatovo
    </button>
    <button
      [ngClass]="{actif: lieu == 'Andraharo', onglet:true}"
      (click)="switchAndraharo()"
    >
      Andraharo
    </button>
    <button
    [ngClass]="{actif: lieu == 'Mangasoavina', onglet:true}"
      (click)="switchMangasoavina()"
    >
      Mangasoavina
    </button>
  </div>

  <div class="rubrique">
    <!--Tableau-->
    <div class="section">
      <!-- <h1>Liste pointage Ambohijatovo</h1> -->
      <table class="tbl animation2 animation fade02">
        <thead>
          <tr>
            <!-- <th>ID</th> -->
            <th>Nom</th>
            <th>Date</th>
            <th>Motif</th>
            <th>Heure d'entré</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of visitsList">
            <!-- <td data-label="ID" *ngIf="item.lieu == lieu">
              {{ item.visit_id }}
            </td> -->
            <td data-label="Nom" *ngIf="item.lieu == lieu">
              <strong>{{ item.visitor_name }}</strong>
            </td>
            <td data-label="Date" *ngIf="item.lieu == lieu">{{ item.date }}</td>
            <td data-label="Motif" *ngIf="item.lieu == lieu">
              <i> {{ item.motif }}</i>
            </td>
            <td data-label="Heure" *ngIf="item.lieu == lieu">
              {{ item.entry_time }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
