
    <div class="imgcontainer">
      <span
        onclick="document.getElementById('id01').style.display='none'"
        class="close"
        title="Close Modal"
        >&times;</span
      >
    </div>

    <div class="container">
      <label for="uname"><b>Nom Visiteur </b></label>
      <input
        type="text"
        [(ngModel)] = "visitor_name"
        required        
      />

      <label for="psw"><b>Numero CIN</b></label><br>
      <input
        type="number"
        [(ngModel)] = "CIN"
        required
      /> <br>

      <label for="subject"><b>Motif </b></label>
      <textarea
        id="subject"
        [(ngModel)] = "motif"
        style="height: 200px"
      ></textarea>
      <button type="submit" class="btn-ajout" (click)="addVisit()">Ajouter</button>
      <button
        class="btn-cancel"
        type="button"
        onclick="document.getElementById('id01').style.display='none'"
      >
        Cancel
      </button>
    </div>
