<div class="titre animation1 animation fade01">
  <h1>Pointage actuel</h1>
</div>
<div id="auCentre" class="animation1 animation fade01">
  <div class="lieu animation3 animation fade03">
    <h1>
      Lieu: <span>{{ lieu }}</span>
    </h1>
  </div>
  <div class="barre animation1 animation fade01">
    <button
      [ngClass]="{actif: lieu == 'Ambohijatovo', onglet:true}"
      (click)="switchAmbohijatovo()"
    >
      Ambohijatovo
    </button>
    <button
      [ngClass]="{actif: lieu == 'Andraharo', onglet:true}"
      (click)="switchAndraharo()"
    >
      Andraharo
    </button>
    <button
    [ngClass]="{actif: lieu == 'Mangasoavina', onglet:true}"
      (click)="switchMangasoavina()"
    >
      Mangasoavina
    </button>
  </div>


  <div id="Javascript" class="rubrique">
    <!--Tableau-->
    <div class="section animation2 animation fade02">
      <!-- <h1>Liste pointage Ambohijatovo</h1> -->
      <table class="tbl">
        <thead>
          <tr>
            <th>Numero matricule</th>
            <th>Nom</th>
            <th>Direction</th>
            <th>Heure d'entré</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pointages">
            <td data-label="ID" *ngIf="item.lieu == lieu">
              {{ item.numero_matricule }}
            </td>
            <td data-label="Nom" *ngIf="item.lieu == lieu">
              <strong> {{ item.employee_name }}</strong>
            </td>
            <td data-label="Date" *ngIf="item.lieu == lieu">
              {{ item.employee_dep_name }}
            </td>
            <td data-label="Date" *ngIf="item.lieu == lieu">
              <strong>
                <i> {{ item.entry_time }}</i></strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>