<div class="titre animation1 animation fade01">
  <h1><i class="fas fa-home"></i> accueil</h1>
</div>
<div class="section animation1 animation fade01">
  <!-- bienvenue -->
  <div class="bienvenue">
    <h1>Tableau de bord</h1>
    <div class="img">
      <img src="assets/img/undraw_hello_re_3evm.svg" />
    </div>
  </div>
  <div class="heure">
    <div id="clock">
      <h2>{{ Date | date: "fullDate" }}</h2>
      <div id="time">
        <div>
          <span id="hour">{{ hour }}</span> <span>Heures</span>
        </div>
        <div>
          <span id="minutes">{{ minute }}</span> <span>Minutes</span>
        </div>
        <div>
          <span id="seconds">{{ second }}</span> <span>Secondes</span>
        </div>
      </div>
    </div>
  </div>
  <!-- date/heure -->

  <!-- btn*2 -->
  <div class="button">
    <div class="card c1">
      <div class="imgBx">
        <button class="btn-effet i1" (click)="showPointage()">
          Gerer Pointage
        </button>
      </div>
      <div class="content">
        <h2>Comment faire ?</h2>
        <p>
          pour gerer le pointage des employees il faut cliquer sur le bouton
          'gerer pointage' ou sur le lien sur le cote 'Pointage' | etape deux
          cliquer sur le bouton auquel vous allez faire le pointage soit
          l'entree soit la sortie | etape trois completer le champs (Nom de
          l'employee) | etape trois cliquer sur le bouton ajouter et vous aurez
          une liste contenat le pointage de cet employee
        </p>
      </div>
      <div class="aide">
        <h1>Aide<i class="fas fa-hand-point-up"></i></h1>
      </div>
    </div>
    <div class="card c2">
      <div class="imgBx">
        <button class="btn-effet i2" (click)="showVisit()">Gerer Visite</button>

        <!-- <img src="images/02.jpg" alt="01" /> -->
      </div>
      <div class="content">
        <h2>Comment faire?</h2>
        <p>
          Pour gérer les visites : cliquer sur le bouton ajouter visite, puis entrer tous les informations
          nécessaire à propos du visiteur. si le visiteur est déjà enregistré, les champs d'informations
          seront remplis automatiquement.
        </p>
      </div>
      <div class="aide">
        <h1>AIDE<i class="fas fa-hand-point-up"></i></h1>
      </div>
    </div>
  </div>
</div>
