<div class="titre">
    <h1>Tableau de bord/accueil</h1>
  </div>
  <div class="section">
    <!-- bienvenue -->
    <div class="bienvenue">
      <h1>Bienvenue <span>agent</span></h1>
      <div class="img">
        <img src="assets/img/undraw_hello_re_3evm.svg" />
      </div>
    </div>
    <!-- bienvenu -->
  
    <!-- date/heure -->
    <div class="heure">
      <div id="clock">
        <h2>The Time is Now:</h2>
        <div id="time">
          <div><span id="hour">00</span> <span>Hours</span></div>
          <div><span id="minutes">00</span> <span>Minutes</span></div>
          <div><span id="seconds">00</span> <span>Seconds</span></div>
        </div>
      </div>
    </div>
    <!-- date/heure -->
  
    <!-- btn*2 -->
    <div class="button">
      <!--bouton ajout + sorti-->
      <button class="btn-content pointage">Gerer Pointage</button>
      <button class="btn-content visite">Gerer Visite</button>
  
      <!--end-bouton ajout + sorti-->
    </div>
    <!-- btn*2 -->
  
    <!-- help -->
    <div class="help">
      <div class="help1">
        <h1>POUR GERER L'ACCES DES EMPLOYEES</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia,
          alias! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Officia, alias! Lorem ipsum dolor, sit amet consectetur adipisicing
          elit. Officia, alias! Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Officia, alias! Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Officia, alias! Lorem ipsum dolor, sit
          amet consectetur adipisicing elit. Officia, alias! Lorem ipsum dolor,
        </p>
      </div>
      <div class="help2">
        <h1>POUR GERER L'ACCES DES VISITEURS</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia,
          alias! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Officia, alias! Lorem ipsum dolor, sit amet consectetur adipisicing
          elit. Officia, alias!
        </p>
      </div>
    </div>
    <!-- help -->
  </div>
  