/*titre*/
.titre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px;
  padding: 5px 0;
}
.titre h1 {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-text);
}
.titre h1 i {
  font-size: 25px;
  padding-right: 5px;
}
.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 1fr;
  grid-template-areas:
    "bienvenue heure"
    "button button";
  width: 98%;
  height: 100%;
  margin-top: 10px;

  background: var(--color-bg);
  border-radius: 5px;
}
/* animation */
.animation1 {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.animation2 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.animation3 {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.animation {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}
@-webkit-keyframes fade01 {
  from {
    opacity: 0;
    /* -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); */
  }
  to {
    opacity: 1;
    /* -webkit-transform: none;
    transform: none; */
  }
}
@keyframes fade01 {
  from {
    opacity: 0;
    /* -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); */
  }
  to {
    opacity: 1;
    /* -webkit-transform: none;
    transform: none; */
  }
}
.fade01 {
  -webkit-animation-name: fade01;
  animation-name: fade01;
}
@-webkit-keyframes fade02 {
  from {
    opacity: 0;
    /* -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); */
  }
  to {
    opacity: 1;
    /* -webkit-transform: none;
    transform: none; */
  }
}
@keyframes fade02 {
  from {
    opacity: 0;
    /* -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); */
  }
  to {
    opacity: 1;
    /* -webkit-transform: none;
    transform: none; */
  }
}
.fade02 {
  -webkit-animation-name: fade02;
  animation-name: fade02;
}
@-webkit-keyframes fade03 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fade03 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade03 {
  -webkit-animation-name: fade03;
  animation-name: fade03;
}
/* bienvenue */
.bienvenue {
  grid-area: bienvenue;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bienvenue h1 {
  font-size: 20px;
  font-weight: 800;
  margin: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-text);
}

.bienvenue .img {
  width: 80%;
  height: 300px;
}
.bienvenue .img img {
  margin-left: 100px;
  max-width: 100%;
}
/* heure */
.heure {
  grid-area: heure;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.heure #clock h2 {
  position: relative;
  display: block;
  color: var(--color-text);
  text-align: center;
  margin: 40px 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 1.5em;
}

.heure #clock #time {
  display: flex;
}

.heure #clock #time div {
  position: relative;
  margin: 0 5px;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0004); */
}

.heure #clock #time div span {
  position: relative;
  display: block;
  width: 150px;
  height: 120px;
  background: var(--color-green);
  color: #fff;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  /* border-radius: 3px; */
}

.heure #clock #time div #minutes {
  background: var(--color-blue);
}
.heure #clock #time div span:nth-child(2) #minutes {
  background: var(--color-blue);
}

.heure #clock #time div span:nth-child(2) {
  height: 30px;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  font-weight: 500;
  z-index: 9;
  box-shadow: none;
  background: var(--color-blue);
  text-transform: uppercase;
}
.heure #clock #time div:first-child span {
  background: var(--color-green);
}

.heure #clock #time div:last-child span {
  background: var(--color-red);
}

.heure #clock #time div:last-child span:nth-child(2) {
  background: var(--color-red);
}

/*.buttons  */

/* .buttons {
  grid-area: button;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.buttons .btn-content {
  margin: 20px auto 40px;
  height: 100px;
  width: 300px;
  color: #fff;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s;
  box-shadow: 0 9px #999;
}
.buttons .visite {
  background: var(--color-red);
}
.buttons .pointage {
  background: var(--color-green);
}
.buttons .visite:hover {
  background-color: #a64043;
  font-size: 20px;
}
.buttons .pointage:hover {
  background-color: #3e8e41;
  font-size: 20px;
}
.buttons .visite:active {
  background-color: #a64043;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.buttons .pointage:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */
/* effet */
.buttons {
  grid-area: button;

  width: 100%;

  /**/
  position: relative;
  /* width: 1100px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 20px;
  padding: 30px; */
}
.buttons .card {
  position: relative;
  max-width: 300px;
  height: 150px;
  background: var(--color-bg);
  margin: 30px 10px;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
}
.buttons .c1 {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  transition: 0.3s ease-in-out;
  border: 3px solid var(--color-green);
}
.buttons .c2 {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  transition: 0.3s ease-in-out;
  border: 3px solid var(--color-red);
}
.buttons .card:hover {
  cursor: pointer;
  height: 600px;
}
.buttons .card .imgBx {
  position: absolute;
  width: 260px;
  height: 100px;
  top: -40px;
  left: 15px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.buttons .card .imgBx .btn-effet {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-bg);
  letter-spacing: 2px;
  border-radius: 10px;
}

.buttons .card .imgBx .i1 {
  background: var(--color-green);
}
.buttons .card .imgBx .i2 {
  background: var(--color-red);
}
/* .buttons .card .imgBx img {
  max-width: 100%;
  border-radius: 8px;
} */
.buttons .card .content {
  position: relative;
  margin-top: -50px; /*nanova*/
  padding: 10px 15px;
  /* text-align: center; */
  color: var(--color-blue);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.buttons .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: 80px;
  transition-delay: 0.3s;
  overflow: hidden;
}
.buttons .card .aide {
  position: absolute;
  bottom: 0;
  margin-left: 45%;
  margin-bottom: 30px;
  transform: translateX(-50%);
}
.buttons .card .aide h1 {
  color: var(--color-blue);
  text-align: center;
  font-weight: 800;
  /* text-shadow: 1px 1px 2px var(--color-text); */
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5em;
}
.buttons .card:hover .aide {
  display: none;
}
.buttons .card .aide i {
  font-size: 2.5rem;
  margin-left: 10px;
}

/* media */
@media screen and (max-width: 1300px) {
  .section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 500px 300px 1fr;
    grid-template-areas:
      "bienvenue "
      "heure"
      "button ";
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }

  .bienvenue .img {
    width: 86%;
    height: 300px;
  }
  .bienvenue .img img {
    margin-left: 50px;
    max-width: 100%;
  }

  .heure {
    grid-area: heure;
    display: flex;
    justify-content: center;
    background: var(--color-fond);
    overflow: hidden;
  }
  .heure #clock h2 {
    font-size: 1em;
  }
  .heure #clock #time div span {
    position: relative;
    display: block;
    width: 150px;
    height: 120px;
    background: var(--color-green);
    color: #fff;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
}
/* media */
@media screen and (max-width: 700px) {
  .section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 300px 1fr;
    grid-template-areas:
      "bienvenue "
      "heure"
      "button ";
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }

  .bienvenue .img {
    width: 86%;
    height: 300px;
  }
  .bienvenue .img img {
    margin-left: 50px;
    max-width: 100%;
  }

  .heure {
    grid-area: heure;
    display: flex;
    justify-content: center;
    background: var(--color-fond);
    overflow: hidden;
  }
  .heure #clock h2 {
    font-size: 1em;
  }
  .heure #clock #time div span {
    position: relative;
    display: block;
    width: 100px;
    height: 120px;
    background: var(--color-green);
    color: #fff;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
}
