/* animation */
.animation1 {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.animation2 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.animation3 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.animation {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}
@-webkit-keyframes fade01 {
  from {
    opacity: 0;
    /* -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); */
  }
  to {
    opacity: 1;
    /* -webkit-transform: none;
    transform: none; */
  }
}
@keyframes fade01 {
  from {
    opacity: 0;
    /* -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); */
  }
  to {
    opacity: 1;
    /* -webkit-transform: none;
    transform: none; */
  }
}
.fade01 {
  -webkit-animation-name: fade01;
  animation-name: fade01;
}
@-webkit-keyframes fade02 {
  from {
    opacity: 0;
    /* -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); */
  }
  to {
    opacity: 1;
    /* -webkit-transform: none;
    transform: none; */
  }
}
@keyframes fade02 {
  from {
    opacity: 0;
    /* -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); */
  }
  to {
    opacity: 1;
    /* -webkit-transform: none;
    transform: none; */
  }
}
.fade02 {
  -webkit-animation-name: fade02;
  animation-name: fade02;
}
@-webkit-keyframes fade03 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fade03 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade03 {
  -webkit-animation-name: fade03;
  animation-name: fade03;
}
.titre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px;
  padding: 5px 0;
}
.titre h1 {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-blue);
}
.titre h1 span {
  color: var(--color-green);
  font-size: 22px;
}
.btn {
  height: auto;
  width: 100%;
  grid-column: 1 / -1;
  background-color: var(--color-fond);
  display: flex;
  justify-content: center;
}
.btn .btn-content {
  margin: 20px auto 40px;
  height: 100px;
  width: 300px;
  color: #fff;
  background: var(--color-green);
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 9px #999;
}
.btn .btn-content:hover {
  background-color: #3e8e41;
}
.btn .btn-content:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*TABLE*/
.section {
  width: 100%;
  grid-column: 1 / -1;
  background-color: var(--color-fond);
  padding-right: 10px;
  padding-left: 10px;
}

.section .text h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin: 20px;
  color: var(--color-blue);
}
.section .tbl {
  width: 100%;
  border-collapse: collapse;
  padding: 0 10%;
  margin: 10px auto 40px;
}
.section .tbl thead {
  background-color: var(--color-blue);
}
.section .tbl thead tr th {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #fff;
  opacity: 1;
  padding: 12px;
  vertical-align: top;
  border: 1px solid #dee2e685;
}
.section .tbl tbody tr {
  background-color: #fff;
  color: var(--color-blue);
}
.section .tbl tbody tr:hover {
  background-color: #8c999ea7;
  color: #fff;
}
.section .tbl tbody tr td {
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  padding: 8px;
  text-align: center;
  border: 1px solid var(--color-blue);
}

.section .tbl tbody tr td .bouton {
  width: 100px;
  text-decoration: none;
  line-height: 35px;
  display: inline-block;
  background-color: var(--color-red);
  font-weight: medium;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.5s;
  cursor: pointer;
  opacity: 1;
}
.section .tbl tbody tr td .bouton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.section .tbl tbody tr td .bouton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.section .tbl tbody tr td .bouton:hover span {
  padding-right: 25px;
}
.section .tbl tbody tr td .bouton:hover span:after {
  opacity: 1;
  right: 0;
}

/*modal*/
.modal-header h1 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-titre);
  text-align: center;
  letter-spacing: 5px;
  padding: 10px;
}
/* Full-width input fields */
input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--color-blue);
  box-sizing: border-box;
  color: var(--color-blue);
}
textarea {
  resize: none;
}
/* Set a style for all buttons */
/*button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}*/

/* Extra styles for the cancel button */
/*.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: var(--color-red);
}*/

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  cursor: pointer;
}
.imgcontainer :hover {
  color: var(--color-red);
}

.container-perso {
  padding: 16px;
}
.container-perso ul {
  display: block;
  justify-content: flex-end;
  padding-right: 20px;
  list-style-type: none;
  font-size: 14px;
  font-weight: 800px;
  letter-spacing: 2px;
  color: var(--color-green);
  /* background: #000; */
}
.container-perso ul li {
  margin: 10px;
  cursor: pointer;
  transition: 0.1s;
  /* color: var(--color-titre); */
}

.container-perso ul li:hover {
  color: var(--color-green);
  border: 2px solid var(--color-green);
  padding: 3px;
  border-radius: 3px;
  font-size: 12px;
}
.btn-cancel {
  background-color: var(--color-red);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
}
.btn-cancel:hover {
  box-shadow: 2px 2px 2px rgb(52, 14, 14);
}
.btn-ajout {
  background-color: var(--color-green);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}
.btn-ajout:hover {
  box-shadow: 2px 2px 2px rgb(19, 64, 32);
}

.container-perso label {
  color: var(--color-blue);
  text-transform: capitalize;
  letter-spacing: 2px;
}
.spanina {
  color: var(--color-red);
  background: var(--color-fond);
  padding: 5px;
  text-transform: none;
  letter-spacing: 0.5px;
  border-radius: 2px;
  margin-right: 20px;
  cursor: pointer;
  border: 1px solid var(--color-red);
}

.modal form h1 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-titre);
  text-align: center;
  letter-spacing: 5px;
  padding: 10px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 30px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 1% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid var(--color-blue);
  border-radius: 5px;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: var(--color-blue);
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
/*media*/
@media screen and (max-width: 768px) {
  /*content*/

  .section .tbl thead {
    display: none;
  }
  .section .tbl,
  .section .tbl tbody,
  .section .tbl tr,
  .section .tbl td {
    display: block;
    width: 100%;
  }
  .section .tbl tr {
    margin-bottom: 15px;
  }
  .section .tbl tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .section .tbl td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }
  .modal-content {
    width: 100%; /* Could be more or less, depending on screen size */
  }
}
