<!--content-->
<div class="content">
  <div class="btn">
    <button class="btn-content">Ajout Nouvelle Visite</button>
  </div>
  <div class="section">
    <table class="tbl">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Heure/Date</th>
          <th>Motif</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="ID">Lucas</td>
          <td data-label="Nom">rakoto</td>
          <td data-label="Heure/Date">22 avril</td>
          <td data-label="Motif">NOna be</td>
          <td data-label="#"><a href="#" class="bouton">Sortir</a></td>
        </tr>
        <tr>
          <td data-label="ID">Lucas</td>
          <td data-label="Nom">rakoto</td>
          <td data-label="Heure/Date">22 avril</td>
          <td data-label="Motif">NOna be</td>
          <td data-label="#"><a href="#" class="bouton">Sortir</a></td>
        </tr>
        <tr>
          <td data-label="ID">Lucas</td>
          <td data-label="Nom">rakoto</td>
          <td data-label="Heure/Date">22 avril</td>
          <td data-label="Motif">NOna be</td>
          <td data-label="#"><a href="#" class="bouton">Sortir</a></td>
        </tr>
        <tr>
          <td data-label="ID">Lucas</td>
          <td data-label="Nom">rakoto</td>
          <td data-label="Heure/Date">22 avril</td>
          <td data-label="Motif">NOna be</td>
          <td data-label="#"><a href="#" class="bouton">Sortir</a></td>
        </tr>
        <tr>
          <td data-label="ID">Lucas</td>
          <td data-label="Nom">rakoto</td>
          <td data-label="Heure/Date">22 avril</td>
          <td data-label="Motif">NOna be</td>
          <td data-label="#"><a href="#" class="bouton">Sortir</a></td>
        </tr>
        <tr>
          <td data-label="ID">Lucas</td>
          <td data-label="Nom">rakoto</td>
          <td data-label="Heure/Date">22 avril</td>
          <td data-label="Motif">NOna be</td>
          <td data-label="#"><a href="#" class="bouton">Sortir</a></td>
        </tr>
        <tr>
          <td data-label="ID">Lucas</td>
          <td data-label="Nom">rakoto</td>
          <td data-label="Heure/Date">22 avril</td>
          <td data-label="Motif">NOna be</td>
          <td data-label="#"><a href="#" class="bouton">Sortir</a></td>
        </tr>
        <tr>
          <td data-label="ID">Lucas</td>
          <td data-label="Nom">rakoto</td>
          <td data-label="Heure/Date">22 avril</td>
          <td data-label="Motif">NOna be</td>
          <td data-label="#"><a href="#" class="bouton">Sortir</a></td>
        </tr>
        <tr>
          <td data-label="ID">Lucas</td>
          <td data-label="Nom">rakoto</td>
          <td data-label="Heure/Date">22 avril</td>
          <td data-label="Motif">NOna be</td>
          <td data-label="#"><a href="#" class="bouton">Sortir</a></td>
        </tr>
        <tr>
          <td data-label="ID">Lucas</td>
          <td data-label="Nom">rakoto</td>
          <td data-label="Heure/Date">22 avril</td>
          <td data-label="Motif">NOna be</td>
          <td data-label="#"><a href="#" class="bouton">Sortir</a></td>
        </tr>
        <tr>
          <td data-label="ID">Lucas</td>
          <td data-label="Nom">rakoto</td>
          <td data-label="Heure/Date">22 avril</td>
          <td data-label="Motif">NOna be</td>
          <td data-label="#"><a href="#" class="bouton">Sortir</a></td>
        </tr>
        <tr>
          <td data-label="ID">Lucas</td>
          <td data-label="Nom">rakoto</td>
          <td data-label="Heure/Date">22 avril</td>
          <td data-label="Motif">NOna be</td>
          <td data-label="#"><a href="#" class="bouton">Sortir</a></td>
        </tr>
        <tr>
          <td data-label="ID">Lucas</td>
          <td data-label="Nom">rakoto</td>
          <td data-label="Heure/Date">22 avril</td>
          <td data-label="Motif">NOna be</td>
          <td data-label="#"><a href="#" class="bouton">Sortir</a></td>
        </tr>
        <tr>
          <td data-label="ID">Lucas</td>
          <td data-label="Nom">rakoto</td>
          <td data-label="Heure/Date">22 avril</td>
          <td data-label="Motif">NOna be</td>
          <td data-label="#"><a href="#" class="bouton">Sortir</a></td>
        </tr>
        <tr>
          <td data-label="ID">Lucas</td>
          <td data-label="Nom">rakoto</td>
          <td data-label="Heure/Date">22 avril</td>
          <td data-label="Motif">NOna be</td>
          <td data-label="#"><a href="#" class="bouton">Sortir</a></td>
        </tr>
        <tr>
          <td data-label="ID">Lucas</td>
          <td data-label="Nom">rakoto</td>
          <td data-label="Heure/Date">22 avril</td>
          <td data-label="Motif">NOna be</td>
          <td data-label="#"><a href="" class="bouton">Sortir</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--end-content-->