.bg-perso {
  background-color: #35aa49;
  color: white;
  justify-content: space-around;
}

.titre {
  margin-left: 52px;
}
.visite {
  position: absolute;
  width: 99%;
  margin-top: 115px;
  margin-right: 20%;
}
