* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-blue: #1e546b;
  --color-green: #35aa49;
  --color-red: #c92128;
  --color-fond: #eeedea;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*wrapper*/
.wrapper- {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-gap: 2px;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
}

/*sidebar*/
.sidebar {
  grid-area: sidebar;
  background-color: var(--color-blue);
  display: grid;
  position: fixed;
  width: 300px;
  height: 100%;
}

/*headar*/
.header {
  grid-area: header;
  padding: 10px;
  background-color: var(--color-blue);
}

/*content*/
.content {
  grid-area: content;
  background-color: var(--color-fond);
  padding: 10px;
}

/*media*/
@media screen and (max-width: 768px) {
  /*wrapper*/
  .wrapper- {
    grid-template-areas:
      "header header "
      "sidebar sidebar "
      "content content ";
    grid-template-rows: 70px 200px 1fr;
  }

  /*sidebar*/
  .sidebar {
    position: static;
    display: grid;
    width: 100%;
    justify-content: center;
    align-content: center;
  }

  /*content*/
  .content {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
