/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  padding: 0;
}

.auth-body{
  background: linear-gradient(90deg, #c7c5f4, #776bcc);
}

.visit-body{
  background:white
}
