*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.accueil-container {
  display: grid;
  width: 100%;
  grid-gap: 5px;
  grid-template-columns: 1fr 350px;
  grid-template-rows: 310px 1fr;
  grid-template-areas:
    "header header "
    "contenu  sidebar"
    "contenu  sidebar";
}

/*sidebar*/
.accueil-sidebar {
  grid-area: sidebar;
  background: var(--color-fond);
  margin: 10px 30px;
  height: auto;
}

.accueil-sidebar .security {
  background: white;
  box-shadow: 1px 2px 3px rgb(198, 195, 195);
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  color: var(--color-text);
}

.accueil-sidebar .security h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-titre);
  text-align: center;
  letter-spacing: 5px;
}

.accueil-sidebar .security ul {
  margin: 20px;
  list-style-type: none;
}

.accueil-sidebar .security ul li {
  border-bottom: 2px solid var(--color-fond);
  margin: 2px;
  padding: 10px;
  font-size: 16px;
  font-weight: lighter;
  transition: 0.3s ease;
}

.accueil-sidebar .security ul li:hover {
  font-size: 18.5px;
  margin-left: 4px;
}

/*header*/
.accueil-header {
  grid-area: header;
  background: var(--color-fond);
  display: flex;
  justify-content: space-around;
}

/*body/diagramme*/
.accueil-body {
  grid-area: contenu;
  background: #fff;
  padding: 15px;
  height: 100%;
  margin: 10px 30px;
  border-radius: 15px;
}

.accueil-body .heading {
  font-size: 25px;
  margin-right: 25px;
}

.accueil-body .fa {
  font-size: 25px;
}

.accueil-body .accueil-body .checked {
  color: orange;
}

/* Three column layout */
.accueil-body .side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.accueil-body .middle {
  margin-top: 10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.accueil-body .right {
  text-align: right;
}

/* Clear floats after the columns */
.accueil-body .row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.accueil-body .bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.accueil-body .bar-5 {
  width: 60%;
  height: 18px;
  background-color: #04aa6d;
}

.accueil-body .bar-4 {
  width: 30%;
  height: 18px;
  background-color: #2196f3;
}

.accueil-body .bar-3 {
  width: 10%;
  height: 18px;
  background-color: #00bcd4;
}

.accueil-body .bar-2 {
  width: 4%;
  height: 18px;
  background-color: #ff9800;
}

.accueil-body .bar-1 {
  width: 15%;
  height: 18px;
  background-color: #f44336;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {

  .accueil-body .side,
  .accueil-body .middle {
    width: 100%;
  }

  .accueil-body .right {
    display: none;
  }
}

@media screen and (max-width: 768px) {

  /*accueil*/
  .accueil-container {
    grid-template-areas:
      "header  header"
      "sidebar  sidebar"
      "contenu  contenu";
    grid-template-rows: 1fr 1fr 1fr;
  }

  /*header*/
  .accueil-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*sidebar*/
  .accueil-sidebar {
    height: auto;
    margin-right: 0;
  }

  /*body*/
  .accueil-body {
    height: auto;
  }
}


/*Button*/
.button {
  padding: 10px 30px;
  background: #2196f3;
  color: white;
}