<!--body-->
<div class="accueil1-container">
  <div class="clocks1 anima3 animate fade03">
    <div class="bienvenue">
      <h1>DASHBOARD <span>Admin</span></h1>
      <div id="clock">
        <h2>{{ Date | date: "fullDate" }}</h2>
      </div>
    </div>
    <div id="time">
      <div>
        <span id="hour">{{ hour }}</span> <span>Heures</span>
      </div>
      <div>
        <span id="minutes">{{ minute }}</span> <span>Minutes</span>
      </div>
      <div>
        <span id="seconds">{{ second }}</span> <span>Secondes</span>
      </div>
    </div>
  </div>
  <!--header-->
  <div class="accueil1-header">
    <!--eto-->
    <app-lieu-card
      *ngFor="let item of lieux"
      [lieu]="item.lieu_name"
      [entry_time]="item.entry_time"
    ></app-lieu-card>
  </div>
  <!--header-end-->

  <!--diagramme-->
  <div class="accueil1-body anim2 animate fade2">
    <app-chart-generale></app-chart-generale>
  </div>
  <!--diagramme-end-->

  <!--sidebar-->
  <div class="accueil1-sidebar anim2 animate fade2">
    <div class="security">
      <h3>Securités actifs</h3>
      <button (click)="refresh()" class="actualiser">actualiser</button>
      <ul>
        <li
          *ngFor="let item of activeSecurityList"
          (click)="ShowEmployeeProfile(item)"
        >
          <img [src]="getPhotoPath(getSecurity(item.employee_name).photoName)" alt="pdp" srcset="" height="150px" />
          {{ item.employee_name }}
        </li>
      </ul>
    </div>
  </div>
  <!--end-sidebar-->
</div>
<!--body-end-->
