<!--body-->
<div class="accueil-container">
  <!--header-->
  <div class="accueil-header">
    <!--eto-->
    <app-lieu-card *ngFor="let item of activeConnections" [lieu]="item.lieu" [employee_name]="item.employee_name"
      [entry_time]="item.entry_time"></app-lieu-card>
  </div>
  <!--header-end-->

  <!--diagramme-->
  <div class="accueil-body">
    <app-chart-generale></app-chart-generale>
  </div>
  <!--diagramme-end-->

  <!--sidebar-->
  <div class="accueil-sidebar">
    <div class="security">
      <h3>Securités actifs</h3>
      <button (click)="refreshActiveSecurityList()"> actualiser </button>
      <ul>
        <li *ngFor="let item of activeSecurityList">{{item.employee_name}}</li>
      </ul>
    </div>
  </div>
  <!--end-sidebar-->
</div>
<!--body-end-->